$shadow:0 2px 8px rgba(0, 0, 0, 0.15);

.container {
    padding-right: 15px;
    padding-left : 15px;
    margin-right : auto;
    margin-left  : auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1260px) {
    .container {
        width: 1260px;
    }
}

@media (min-width: 767px) {

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-button {
        width : 8px;
        height: 5px;
    }

    ::-webkit-scrollbar-track {
        background   : rgb(255, 255, 255);
        border       : thin solid rgb(238, 238, 238);
        box-shadow   : 0px 0px 3px #dfdfdf inset;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background   : #ccc;
        border       : thin solid #ccc;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #7d7d7d;
    }

}

.header-section {
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    z-index         : 1000;
    display         : block;
    width           : 100%;
    height          : 70px;
    background-color: #fff;
    box-shadow      : 0 4px 6px rgba(0, 0, 0, 0.1);
    padding         : 15px;

    .brand {
        display        : flex;
        align-items    : center;
        justify-content: center;
        cursor         : pointer;
    }

    .top-menu {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        width          : 100%;
        margin         : 5px 15px;
        font-weight    : 600;

        .additional-info {
            flex-direction : column;
            justify-content: center;
            align-items    : flex-start;
            gap            : 5px;
            margin-right   : 20px;

            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

            .text-1 {
                font-size  : 20px;
                font-weight: bold;
                color      : navy;
            }

            .text-2 {
                font-size  : 20px;
                font-weight: bold;
                color      : #005995;
            }

            .text-3 {
                font-size: 15px;
                color    : #950000;
            }
        }

        .additional-info-hidden {
            display: none;
        }

        .extra {
            display    : flex;
            align-items: center;

            a,
            span {
                cursor         : pointer;
                display        : block;
                color          : #000;
                text-decoration: none;
                font-family    : "Roboto", sans-serif;
                font-size      : 14px;


                &:hover {
                    color: #a7a7a7;
                }
            }

            .icon-menu {
                font-size      : 20px;
                cursor         : pointer;
                color          : #000;
                text-decoration: none;
            }
        }
    }

    .header-mobile {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        height         : 70px;
        color          : #000;

        .brand {
            display        : flex;
            align-items    : center;
            justify-content: center;
            cursor         : pointer;
        }
    }
}

.footer-section {
    position        : fixed; // Fixes the footer at the bottom
    width           : 100%;
    height          : 40px;
    left            : 0;
    right           : 0;
    bottom          : 0;
    background-color: #0c4da1;
    padding-top     : 10px;
    text-align      : center;
    color           : white;
    justify-content : center; // Centers the text horizontally
    box-sizing      : border-box; // Ensures padding is included in height calculation

    .footer-content {
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

        .highlight {
            color: #ffcc00;
        }
    }
}

.card-post-section {
    .empty {
        display        : flex;
        justify-content: center;
        width          : 100%;
        padding        : 50px;
    }

    .dflex-mobile {
        display       : flex;
        flex-direction: column;
    }

    .dflex-pc {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: space-between;
    }

    .post-content {
        padding-top: 90px;

        .card-post-content {
            display: flex;
            width  : 100%;
            gap    : 10px;

            .card-post-left {
                width : 70px;
                margin: 0 auto;

                img {
                    width : 50px;
                    height: 50px;
                }
            }

            .card-post-right {
                width   : 100%;
                position: relative;

                .post-title {
                    overflow          : hidden;
                    color             : #353535;
                    font-weight       : 600;
                    text-overflow     : ellipsis;
                    text-align        : left;
                    margin-bottom     : 10px;
                    line-height       : 1.3;
                    transition        : .2s all;
                    font-size         : 17px;
                    display           : -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;

                    .new-badge {
                        display         : inline-block;
                        padding         : 0.25em 0.4em;
                        font-size       : 75%;
                        font-weight     : 700;
                        line-height     : 1;
                        text-align      : center;
                        white-space     : nowrap;
                        vertical-align  : baseline;
                        border-radius   : 0.25rem;
                        color           : #fff;
                        background-color: #dc3545;
                    }
                }

                .post-createdAt {
                    position: absolute;
                    right   : 0;
                    bottom  : -18px;
                    color   : #919191;
                }
            }
        }
    }

    .post-search {

        .card-post-content {
            display: flex;
            width  : 100%;
            gap    : 10px;

            .card-post-left {
                width : 70px;
                margin: 0 auto;

                img {
                    width : 50px;
                    height: 50px;
                }
            }

            .card-post-right {
                width   : 100%;
                position: relative;

                .post-title {
                    overflow          : hidden;
                    color             : #353535;
                    font-weight       : 600;
                    text-overflow     : ellipsis;
                    text-align        : left;
                    margin-bottom     : 10px;
                    line-height       : 1.3;
                    transition        : .2s all;
                    font-size         : 17px;
                    display           : -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;

                    .new-badge {
                        display         : inline-block;
                        padding         : 0.25em 0.4em;
                        font-size       : 75%;
                        font-weight     : 700;
                        line-height     : 1;
                        text-align      : center;
                        white-space     : nowrap;
                        vertical-align  : baseline;
                        border-radius   : 0.25rem;
                        color           : #fff;
                        background-color: #dc3545;
                    }
                }

                .post-createdAt {
                    position: absolute;
                    right   : 0;
                    bottom  : -18px;
                    color   : #919191;
                }
            }
        }
    }
}

.department-section {

    .department-content {
        padding-top: 90px;

        .card-customize {
            height            : 200px;
            max-width         : 200px;
            // margin         : 20px auto;
            margin            : 45px auto 0;
            display           : flex;
            align-items       : center;
            justify-content   : center;
            overflow          : hidden;

            img {
                max-width : calc(100% - 10px);
                max-height: calc(100% - 10px);
                margin    : 0 5px;
                object-fit: contain;
            }
        }
    }
}


.home-section {
    .empty {
        display        : flex;
        justify-content: center;
        width          : 100%;
        padding        : 50px;
    }

    .dflex-mobile {
        display       : flex;
        flex-direction: column;
    }

    .dflex-pc {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: space-between;
    }

    .title {
        font-size    : 27px;
        font-family  : "Roboto", sans-serif;
        color        : #353535;
        line-height  : 35px;
        margin-top   : 20px;
        margin-bottom: 20px;
    }
}

.detail-post-section,
.detail-department-section {

    padding-top: 80px;

    .header {
        margin   : 30px 0;
        color    : #353535;
        font-size: 27px;
    }

    .post-updatedAt {
        margin-top: 10px;
        color     : #919191;
    }

    h2 {
        font-size  : 23px;
        color      : #353535;
        font-weight: 400;
        margin     : 25px 0 0;
    }

    ul {
        padding-left: 2rem;
    }

    li {
        line-height: 2em;
    }

    p {
        color      : #3a3a3a;
        font-size  : 16px;
        line-height: 1.7em;
        max-width  : 100%;
    }

    img {
        max-width: 100%;
        height   : auto;
    }

    .department {
        margin         : 20px 0;
        color          : #353535;
        font-size      : 27px;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        width          : 100%;
        align-items    : center;
    }
}

.change-email-pane {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 100vh;

    .container {
        width           : 100%;
        min-width       : 35rem;
        padding         : 0.5rem 2rem;
        background-color: #fff;
        box-shadow      : $shadow;
        border-radius   : 0.5rem;
        margin-left     : -2rem;

        .main {
            display        : flex;
            justify-content: center;
            align-items    : center;
            width          : 100%;

            .wrapper {
                width: 100%;
            }
        }
    }
}



@media (max-width: 767px) {
    .change-email-pane {
        height: 80vh;
    }
}

@media (max-width: 1260px) {
    .additional-info {
        display: none;
    }
}